ADI/Connected Services/CredentialService/CredentialsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CredentialsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://lfs1.bsppl.net/CredentialsService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://lfs1.bsppl.net/CredentialsService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://lfs1.bsppl.net/CredentialsService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/AccessUKWebService.DimensionsWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICredentialsService_CreateNewTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTicket" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_CreateNewTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_CreateNewSelectHRTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewSelectHRTicket" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_CreateNewSelectHRTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewSelectHRTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_CreateNewTicket_Basic_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTicket_Basic" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_CreateNewTicket_Basic_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTicket_BasicResponse" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_CreateNewSelectHRTicket_Basic_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewSelectHRTicket_Basic" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_CreateNewSelectHRTicket_Basic_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewSelectHRTicket_BasicResponse" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_GenericGateway_InputMessage">
    <wsdl:part name="parameters" element="tns:GenericGateway" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_GenericGateway_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenericGatewayResponse" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_ReturnObjectDefinition_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnObjectDefinition" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_ReturnObjectDefinition_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnObjectDefinitionResponse" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_DeleteTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicket" />
  </wsdl:message>
  <wsdl:message name="ICredentialsService_DeleteTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ICredentialsService">
    <wsdl:operation name="CreateNewTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredentialsService/CreateNewTicket" message="tns:ICredentialsService_CreateNewTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredentialsService/CreateNewTicketResponse" message="tns:ICredentialsService_CreateNewTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewSelectHRTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredentialsService/CreateNewSelectHRTicket" message="tns:ICredentialsService_CreateNewSelectHRTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredentialsService/CreateNewSelectHRTicketResponse" message="tns:ICredentialsService_CreateNewSelectHRTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewTicket_Basic">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredentialsService/CreateNewTicket_Basic" message="tns:ICredentialsService_CreateNewTicket_Basic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredentialsService/CreateNewTicket_BasicResponse" message="tns:ICredentialsService_CreateNewTicket_Basic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewSelectHRTicket_Basic">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredentialsService/CreateNewSelectHRTicket_Basic" message="tns:ICredentialsService_CreateNewSelectHRTicket_Basic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredentialsService/CreateNewSelectHRTicket_BasicResponse" message="tns:ICredentialsService_CreateNewSelectHRTicket_Basic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenericGateway">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredentialsService/GenericGateway" message="tns:ICredentialsService_GenericGateway_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredentialsService/GenericGatewayResponse" message="tns:ICredentialsService_GenericGateway_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnObjectDefinition">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredentialsService/ReturnObjectDefinition" message="tns:ICredentialsService_ReturnObjectDefinition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredentialsService/ReturnObjectDefinitionResponse" message="tns:ICredentialsService_ReturnObjectDefinition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredentialsService/DeleteTicket" message="tns:ICredentialsService_DeleteTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredentialsService/DeleteTicketResponse" message="tns:ICredentialsService_DeleteTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICredentialsService" type="tns:ICredentialsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewTicket">
      <soap:operation soapAction="http://tempuri.org/ICredentialsService/CreateNewTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewSelectHRTicket">
      <soap:operation soapAction="http://tempuri.org/ICredentialsService/CreateNewSelectHRTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewTicket_Basic">
      <soap:operation soapAction="http://tempuri.org/ICredentialsService/CreateNewTicket_Basic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewSelectHRTicket_Basic">
      <soap:operation soapAction="http://tempuri.org/ICredentialsService/CreateNewSelectHRTicket_Basic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericGateway">
      <soap:operation soapAction="http://tempuri.org/ICredentialsService/GenericGateway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnObjectDefinition">
      <soap:operation soapAction="http://tempuri.org/ICredentialsService/ReturnObjectDefinition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <soap:operation soapAction="http://tempuri.org/ICredentialsService/DeleteTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CredentialsService">
    <wsdl:port name="BasicHttpBinding_ICredentialsService" binding="tns:BasicHttpBinding_ICredentialsService">
      <soap:address location="http://lfs1.bsppl.net/CredentialsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>