ADI/Connected Services/CredentialService/CredentialsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lfs1.bsppl.net/CredentialsService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/AccessUKWebService.DimensionsWebService" />
  <xs:element name="CreateNewTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccessUKWebService.DimensionsWebService" minOccurs="0" name="DimensionsCredentials" nillable="true" type="q1:DimensionsLogonObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSelectHRTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccessUKWebService.DimensionsWebService" minOccurs="0" name="SelectHRCredentials" nillable="true" type="q2:SelectHRLogonObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSelectHRTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewSelectHRTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTicket_Basic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTicket_BasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewTicket_BasicResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSelectHRTicket_Basic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WindowsAuthentication" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSelectHRTicket_BasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewSelectHRTicket_BasicResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericGateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericGatewayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenericGatewayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnObjectDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccessUKWebService.DimensionsWebService" minOccurs="0" name="request" nillable="true" type="q3:ObjectDefinitionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnObjectDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccessUKWebService.DimensionsWebService" minOccurs="0" name="ReturnObjectDefinitionResult" nillable="true" type="q4:ObjectDefinitionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>