ADI/Connected Services/NominalLedger/NominalLedgerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NominalLedgerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://appdimensions.uksouth.cloudapp.azure.com/AccessDWS/NominalLedgerService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://appdimensions.uksouth.cloudapp.azure.com/AccessDWS/NominalLedgerService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://appdimensions.uksouth.cloudapp.azure.com/AccessDWS/NominalLedgerService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/AccessUKWebService.DimensionsWebService" />
      <xsd:import schemaLocation="http://appdimensions.uksouth.cloudapp.azure.com/AccessDWS/NominalLedgerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INominalLedgerService_BankRecord_Return_InputMessage">
    <wsdl:part name="parameters" element="tns:BankRecord_Return" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_BankRecord_Return_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankRecord_ReturnResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_BankRecord_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:BankRecord_Update" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_BankRecord_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankRecord_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_Return_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_Return" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_Return_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_ReturnResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_Update" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalAnalysis_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalAnalysis_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalAnalysis_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalAnalysis_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTurnover_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalTurnover_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTurnover_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalTurnover_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_BankAnalysis_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:BankAnalysis_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_BankAnalysis_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankAnalysis_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRollup_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalRollup_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRollup_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalRollup_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCOARollup_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalCOARollup_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCOARollup_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalCOARollup_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_UpdateBasic_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_UpdateBasic" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_UpdateBasic_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_UpdateBasicResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_Delete" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecord_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecord_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_MajorHeading_Return_InputMessage">
    <wsdl:part name="parameters" element="tns:MajorHeading_Return" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_MajorHeading_Return_OutputMessage">
    <wsdl:part name="parameters" element="tns:MajorHeading_ReturnResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_MajorHeading_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:MajorHeading_Update" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_MajorHeading_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:MajorHeading_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_MajorHeading_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:MajorHeading_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_MajorHeading_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:MajorHeading_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCategory_Return_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalCategory_Return" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCategory_Return_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalCategory_ReturnResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCategory_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalCategory_Update" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCategory_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalCategory_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCategory_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalCategory_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCategory_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalCategory_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCategory_UpdateBasic_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalCategory_UpdateBasic" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalCategory_UpdateBasic_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalCategory_UpdateBasicResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTransactionGenericUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalTransactionGenericUpdate" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTransactionGenericUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalTransactionGenericUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTransactionGenericReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalTransactionGenericReturn" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTransactionGenericReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalTransactionGenericReturnResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalJournalUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalJournalUpdate" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalJournalUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalJournalUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTaxJournalUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalTaxJournalUpdate" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTaxJournalUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalTaxJournalUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecurringJournalUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecurringJournalUpdate" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecurringJournalUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecurringJournalUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecurringTaxJournalUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecurringTaxJournalUpdate" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalRecurringTaxJournalUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalRecurringTaxJournalUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTransaction_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalTransaction_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalTransaction_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalTransaction_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalDoubleEntry_Collection_InputMessage">
    <wsdl:part name="parameters" element="tns:NominalDoubleEntry_Collection" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_NominalDoubleEntry_Collection_OutputMessage">
    <wsdl:part name="parameters" element="tns:NominalDoubleEntry_CollectionResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_PostNominalLedgerBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:PostNominalLedgerBatch" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_PostNominalLedgerBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostNominalLedgerBatchResponse" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_DeleteBatchTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBatchTransaction" />
  </wsdl:message>
  <wsdl:message name="INominalLedgerService_DeleteBatchTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBatchTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="INominalLedgerService">
    <wsdl:operation name="BankRecord_Return">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/BankRecord_Return" message="tns:INominalLedgerService_BankRecord_Return_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/BankRecord_ReturnResponse" message="tns:INominalLedgerService_BankRecord_Return_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankRecord_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/BankRecord_Update" message="tns:INominalLedgerService_BankRecord_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/BankRecord_UpdateResponse" message="tns:INominalLedgerService_BankRecord_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_Return">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_Return" message="tns:INominalLedgerService_NominalRecord_Return_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_ReturnResponse" message="tns:INominalLedgerService_NominalRecord_Return_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_Update" message="tns:INominalLedgerService_NominalRecord_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_UpdateResponse" message="tns:INominalLedgerService_NominalRecord_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_Collection" message="tns:INominalLedgerService_NominalRecord_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_CollectionResponse" message="tns:INominalLedgerService_NominalRecord_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalAnalysis_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalAnalysis_Collection" message="tns:INominalLedgerService_NominalAnalysis_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalAnalysis_CollectionResponse" message="tns:INominalLedgerService_NominalAnalysis_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalTurnover_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTurnover_Collection" message="tns:INominalLedgerService_NominalTurnover_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTurnover_CollectionResponse" message="tns:INominalLedgerService_NominalTurnover_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankAnalysis_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/BankAnalysis_Collection" message="tns:INominalLedgerService_BankAnalysis_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/BankAnalysis_CollectionResponse" message="tns:INominalLedgerService_BankAnalysis_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalRollup_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRollup_Collection" message="tns:INominalLedgerService_NominalRollup_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRollup_CollectionResponse" message="tns:INominalLedgerService_NominalRollup_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalCOARollup_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCOARollup_Collection" message="tns:INominalLedgerService_NominalCOARollup_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCOARollup_CollectionResponse" message="tns:INominalLedgerService_NominalCOARollup_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_UpdateBasic">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_UpdateBasic" message="tns:INominalLedgerService_NominalRecord_UpdateBasic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_UpdateBasicResponse" message="tns:INominalLedgerService_NominalRecord_UpdateBasic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_Delete" message="tns:INominalLedgerService_NominalRecord_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecord_DeleteResponse" message="tns:INominalLedgerService_NominalRecord_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MajorHeading_Return">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/MajorHeading_Return" message="tns:INominalLedgerService_MajorHeading_Return_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/MajorHeading_ReturnResponse" message="tns:INominalLedgerService_MajorHeading_Return_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MajorHeading_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/MajorHeading_Update" message="tns:INominalLedgerService_MajorHeading_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/MajorHeading_UpdateResponse" message="tns:INominalLedgerService_MajorHeading_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MajorHeading_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/MajorHeading_Collection" message="tns:INominalLedgerService_MajorHeading_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/MajorHeading_CollectionResponse" message="tns:INominalLedgerService_MajorHeading_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalCategory_Return">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCategory_Return" message="tns:INominalLedgerService_NominalCategory_Return_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCategory_ReturnResponse" message="tns:INominalLedgerService_NominalCategory_Return_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalCategory_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCategory_Update" message="tns:INominalLedgerService_NominalCategory_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCategory_UpdateResponse" message="tns:INominalLedgerService_NominalCategory_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalCategory_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCategory_Collection" message="tns:INominalLedgerService_NominalCategory_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCategory_CollectionResponse" message="tns:INominalLedgerService_NominalCategory_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalCategory_UpdateBasic">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCategory_UpdateBasic" message="tns:INominalLedgerService_NominalCategory_UpdateBasic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalCategory_UpdateBasicResponse" message="tns:INominalLedgerService_NominalCategory_UpdateBasic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalTransactionGenericUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTransactionGenericUpdate" message="tns:INominalLedgerService_NominalTransactionGenericUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTransactionGenericUpdateResponse" message="tns:INominalLedgerService_NominalTransactionGenericUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalTransactionGenericReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTransactionGenericReturn" message="tns:INominalLedgerService_NominalTransactionGenericReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTransactionGenericReturnResponse" message="tns:INominalLedgerService_NominalTransactionGenericReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalJournalUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalJournalUpdate" message="tns:INominalLedgerService_NominalJournalUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalJournalUpdateResponse" message="tns:INominalLedgerService_NominalJournalUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalTaxJournalUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTaxJournalUpdate" message="tns:INominalLedgerService_NominalTaxJournalUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTaxJournalUpdateResponse" message="tns:INominalLedgerService_NominalTaxJournalUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalRecurringJournalUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecurringJournalUpdate" message="tns:INominalLedgerService_NominalRecurringJournalUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecurringJournalUpdateResponse" message="tns:INominalLedgerService_NominalRecurringJournalUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalRecurringTaxJournalUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecurringTaxJournalUpdate" message="tns:INominalLedgerService_NominalRecurringTaxJournalUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalRecurringTaxJournalUpdateResponse" message="tns:INominalLedgerService_NominalRecurringTaxJournalUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalTransaction_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTransaction_Collection" message="tns:INominalLedgerService_NominalTransaction_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalTransaction_CollectionResponse" message="tns:INominalLedgerService_NominalTransaction_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NominalDoubleEntry_Collection">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/NominalDoubleEntry_Collection" message="tns:INominalLedgerService_NominalDoubleEntry_Collection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/NominalDoubleEntry_CollectionResponse" message="tns:INominalLedgerService_NominalDoubleEntry_Collection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostNominalLedgerBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/PostNominalLedgerBatch" message="tns:INominalLedgerService_PostNominalLedgerBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/PostNominalLedgerBatchResponse" message="tns:INominalLedgerService_PostNominalLedgerBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBatchTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/INominalLedgerService/DeleteBatchTransaction" message="tns:INominalLedgerService_DeleteBatchTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INominalLedgerService/DeleteBatchTransactionResponse" message="tns:INominalLedgerService_DeleteBatchTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INominalLedgerService" type="tns:INominalLedgerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BankRecord_Return">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/BankRecord_Return" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankRecord_Update">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/BankRecord_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_Return">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalRecord_Return" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_Update">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalRecord_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalRecord_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalAnalysis_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalAnalysis_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalTurnover_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalTurnover_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankAnalysis_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/BankAnalysis_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalRollup_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalRollup_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalCOARollup_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalCOARollup_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_UpdateBasic">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalRecord_UpdateBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalRecord_Delete">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalRecord_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MajorHeading_Return">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/MajorHeading_Return" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MajorHeading_Update">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/MajorHeading_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MajorHeading_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/MajorHeading_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalCategory_Return">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalCategory_Return" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalCategory_Update">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalCategory_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalCategory_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalCategory_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalCategory_UpdateBasic">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalCategory_UpdateBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalTransactionGenericUpdate">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalTransactionGenericUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalTransactionGenericReturn">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalTransactionGenericReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalJournalUpdate">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalJournalUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalTaxJournalUpdate">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalTaxJournalUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalRecurringJournalUpdate">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalRecurringJournalUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalRecurringTaxJournalUpdate">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalRecurringTaxJournalUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalTransaction_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalTransaction_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NominalDoubleEntry_Collection">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/NominalDoubleEntry_Collection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostNominalLedgerBatch">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/PostNominalLedgerBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBatchTransaction">
      <soap:operation soapAction="http://tempuri.org/INominalLedgerService/DeleteBatchTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NominalLedgerService">
    <wsdl:port name="BasicHttpBinding_INominalLedgerService" binding="tns:BasicHttpBinding_INominalLedgerService">
      <soap:address location="http://appdimensions.uksouth.cloudapp.azure.com/AccessDWS/NominalLedgerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>